# IntelliJ IDEA
.idea/
*.iml
out/

# Java
*.class
*.jar
*.war
*.ear

# Logs
*.log

# Maven
target/

# Gradle
.gradle/
build/

# OS Files
.DS_Store
Thumbs.db

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files
*.nar
*.zip
*.tar.gz
*.rar

# Virtual machine crash logs
hs_err_pid*
replay_pid*

# Eclipse specific files
.project
.classpath
.settings/
.localhistory/
.buildpath

# VS Code files
.vscode/

# Ignore other IDE-specific temp files
bin/
out/